@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header-menu-modal-container {
    display: none;
  }
  .header-content {
    display: contents;
  }
  .header-container {
    gap: 120px;
    align-items: center;
  }
  .header-list {
    display: flex;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link {
    position: relative;
  }
  .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -24px;

    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .header-list :hover,
  .address-header :hover {
    color: #404bbf;
  }
  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }
  .tel a {
    color: #434455;
  }
  .tel,
  .mail {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
  }
  .hero-container {
    gap: 36px;
    padding: 112px 0;
    background-image:
      linear-gradient(
        to bottom,
        rgba(15, 10, 55, 0.65),
        rgba(15, 10, 55, 0.65)
      ),
      url(./images/tablet-hero-768-436.png);
  }
  .hero-font {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07143;
  }
  .section-1,
  .sec-3-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .sec1,
  .portfolio {
    flex-basis: calc((100% - 24px) / 2);
    max-width: 356px;
  }
  .sec1 h3 {
    text-align: start;
  }
  .sec-2-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
  .sec-2 {
    flex-basis: calc((100%-72px) / 2);
    max-width: 264px;
  }
  .footer-container {
    max-width: 768px;
    padding: 96px 0 96px 108px;
    flex-direction: row;

    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .footer-form {
    flex-direction: row;
  }
  .foot-box {
    max-width: 264px;
  }
  .footer-form-box h2 {
    text-align: start;
  }

  .footer-form-input {
    width: 264px;
  }
  .backdrop-modal-content {
    width: 408px;
  }
  .modal-form-input-wrapper,
  .modal-form-textarea {
    width: 360px;
  }
}
